CORE_MAXIMUM_ASSET_BASE_URL: https://cmdev.be.coremaximum.com
CORE_MAXIMUM_IMAGE_SOURCE: https://cdn.coremaximum.com
CORE_MAXIMUM_API_BASE_URL: https://cmdev.be.coremaximum.com
ADMIN_REDIRECT_URL: https://cmdev.be.coremaximum.com/admin
IDP_REDIRECT_URI_PROTOCOL: http://
CORE_MAXIMUM_API_BASE_URL_LOCALHOST: http://localhost
CORE_MAXIMUM_API_VERSION: /api/v1
CORE_MAXIMUM_API_BASE_URL_EC2: http://ec2-18-136-200-23.ap-southeast-1.compute.amazonaws.com